<h2>&nbsp;&nbsp;&nbsp;&nbsp;<b>Parent Profile</b></h2>
<br/>
<div class="main col-lg-9">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

  <div class="col-md-6">
  <h4><b><u>Account Information</u></b></h4>
  <br/>

  <div class="form-group row">
      <%= f.label "firstname*", "First Name".html_safe, class: "col-xs-3 col-form-label" %>
      <div class="col-xs-6">
        <%= f.text_field :firstname, autofocus: true, :maxlength => 40, style: 'width: 187px' %>
      </div>
  </div>

  <div class="form-group row">
      <%= f.label "middlename*", "Middle Initial".html_safe, class: "col-xs-3 col-form-label" %>
      <div class="col-xs-6">
        <%= f.text_field :middlename, autofocus: true, :maxlength => 1, style: 'width: 187px' %>
      </div>
  </div>

  <div class="form-group row">
      <%= f.label "lastname*", "Last Name*".html_safe, class: "col-xs-3 col-form-label" %>
      <div class="col-xs-6">
        <%= f.text_field :lastname, autofocus: true, :maxlength => 40, style: 'width: 187px' %>
        <%= f.object.errors[:lastname].join(",") %>
      </div>
  </div>


  <div class="form-group row">
      <%= f.label "suffix*", "Suffix".html_safe, class: "col-xs-3 col-form-label" %>
      <div class="col-xs-6">
        <%= f.text_field :suffix, autofocus: true, :maxlength => 5, style: 'width: 187px' %>
      </div>
  </div>

  <div class="form-group row">
      <%= f.label "marital_status*", "Marital Status".html_safe,class: "col-xs-3 col-form-label" %>
      <div class="col-xs-6">
        <%= f.select :marital_status, options_for_select([["Select", ""],  "Single","Married", "Divorced","Widowed"]), :class => 'genForm_dropBox' %>
      </div>
  </div>
  </div>
  <div class="col-md-6">
<h4><b><u>Contact Information</u></b></h4>
<br/>
  <div class="form-group row">
      <%= f.label "street*","Street Address".html_safe, class: "col-xs-3 col-form-label" %>
      <div class="col-xs-6">
        <%= f.text_field :street, autofocus: true, :maxlength => 75, style: 'width: 187px' %>
      </div>
  </div>  

  <div class="form-group row">
      <%= f.label "city*", "City".html_safe, class: "col-xs-3 col-form-label" %>
      <div class="col-xs-6">
        <%= f.text_field :city, :maxlength => 75, style: 'width: 187px' %>
      </div>  
  </div>

  <div class="form-group row">
      <%= f.label "state*", "State".html_safe,class: "col-xs-3 col-form-label" %>
      <div class="col-xs-6">
        <%= f.text_field :state, :maxlength => 2, style: 'width: 187px' %>
      </div>  
  </div>

  <div class="form-group row">
      <%= f.label "zipcode*", "ZIP Code*".html_safe, class: "col-xs-3 col-form-label" %>
      <div class="col-xs-6">
        <%= f.text_field :zipcode, autofocus: true, :maxlength => 5, style: 'width: 187px' %>
        <%= f.object.errors[:zipcode].first %>
      </div>
  </div>

<div class="form-group row">
      <%= f.label "phone*", "Home Phone".html_safe, class: "col-xs-3 col-form-label" %>
      <div class="col-xs-6">
        <%= f.text_field :homephone, autofocus: true, :maxlength => 10, style: 'width: 187px' %>
      </div>  
  </div>

  <div class="form-group row">
      <%= f.label "phone*", "Cell Phone".html_safe, class: "col-xs-3 col-form-label" %>
      <div class="col-xs-6">
        <%= f.text_field :cellphone, autofocus: true, :maxlength => 10, style: 'width: 187px' %>
      </div>  
  </div>
 

<!-- <div class="form-group row">
<form action="demo_form.asp">
<%= f.label :HomePhone, "Home Phone".html_safe, class: "col-xs-3 col-form-label" %>&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size=3 min =3 align=left name="AreaCode" >&nbsp;-
 <input type="text" size=3 min=3 align = center name="Phone1" >&nbsp;-
<input type="text" min=4 size=4 align = right name="Phone2" ><br>
</form>
</div>

<div class="form-group row">
<form action="demo_form.asp">
<%= f.label :Cellphone, "Cell Phone".html_safe, class: "col-xs-3 col-form-label" %>&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size=3 min =3 align=left name="AreaCode" >&nbsp;-
 <input type="text" size=3 min=3 align = center name="Phone1" >&nbsp;-
<input type="text" min=4 size=4 align = right name="Phone2" ><br>
</form>
</div> -->
  
  <div class="form-group row">
    <%= f.label :email, "Email*".html_safe, class: "col-xs-3 col-form-label" %>
    <div class="col-xs-6">
    <%= f.email_field :email, autofocus: true, :maxlength => 100, style: 'width: 187px' %>
    <%= f.object.errors[:email].second %>
    </div>
  </div>
<br/>
</div>
</div>


<div class="actions">
<div class="col-xs-10">
    <%= f.submit "Save", class: "btn btn-primary", style: 'float: right', style: 'margin-left: 920px' %>
    <%= f.submit "Cancel",class: "btn btn-primary" %>
</div>
</div>
<% end %>


