<div class="page-header">
  <%= image_tag("capture.PNG", size: "300x100") %> 
</div>  

<br/>
<br/>

<div class = "col-md-6 text-center">
    <h1 align="left">Sign In</h1>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <br/>
    <% if flash[:alert] %>
      <%=flash[:alert]%>
    <%end%>
    
    <%= devise_error_messages! %>
      <div class="form-group row">
        <%= f.label "Username*", class: "col-xs-1 col-form-label" %>
        <div class="col-xs-6">
          <%= f.text_field :username, autofocus: true %>
           <%= f.object.errors[:username].join(",") %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label "Password*", class: "col-xs-1 col-form-label"%>

        <div class="col-xs-6">
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "Login",class: "btn btn-primary",style: 'float: left; ' %>
      </div>
  <% end %>
 </div>


 <div class = "col-md-6 text-center">
      <h2 align="left">New User? </h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <br/>
  <%= devise_error_messages! %>

    <div class="form-group row">
      <%= f.label :username, "Username*", class: "col-xs-1 col-form-label" %>
      <div class="col-xs-8">
        <%= f.text_field :username, autofocus: true %>
        
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :password, "Password*" , class: "col-xs-1 col-form-label"%>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <div class="col-xs-8">
        <%= f.password_field :password, autocomplete: "off" %>
        
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :confirmation_password, "Confirm&nbsp;Password*".html_safe, class: "col-xs-1 col-form-label" %>
      <div class="col-xs-8">
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
        
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :lastname, "Last&nbsp;Name*".html_safe, class: "col-xs-1 col-form-label" %>
      <div class="col-xs-8">
        <%= f.text_field :lastname, autofocus: true %>
        
      </div>
    </div>


    <div class="form-group row">
      <%= f.label :email, "Email*", class: "col-xs-1 col-form-label" %>
      <div class="col-xs-8">
        <%= f.email_field :email %>
        
      </div>  
    </div>

    <div class="form-group row">
     <%= f.label :zipcode, "ZIP&nbsp;Code*".html_safe, class: "col-xs-1 col-form-label" %>
      <div class="col-xs-8">
        
        <%= f.text_field :zipcode, autofocus: true %>
      </div>
    </div>

    <div class="actions">
      <div class="col-xs-10">
      <%= f.submit "Create Account",class: "btn btn-primary",style: 'float: centre; ' %>
    </div>
    </div>
  <% end %>
 </div>
     
